@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(182, 219, 178);
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
}

#poeng {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: darkslateblue;
    border: 2px solid darkslateblue;
    padding: 20px;
    margin: 10px;

}


#bane {
    width: 500px;
    height: 300px;
    background-image: url("bilder/bane.png");
    background-size: 100% 100%;
    position: relative;
}

#ball {
    width: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    /*transform: translateY(-50%);
    gjør ballen sentralisert vertikalt*/
}

/* Stilen for spillerne*/
.player {
    width: 50px;
    height: 50px;
    position: absolute;

}

/* Spesifikke plasseringer for spiller 1 og spiller to til venstre og høyre i banen*/

#player1 {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    /* Gjør at spilleren er vertikal ikke horisontal*/
}

#player2 {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    /* Gjør at spilleren er vertikal ikke horisontal*/
}

h1 {
    color: darkslateblue;
}